html {
    height: 100%;
}

p {
    color:black;
}

h1 {
    text-align: center;
    margin-top: 2%;
}

body {
    background-color: rgb(41, 150, 86);
    height: 100%;
}

.ad {
    background-color:orange;
}

div {
    min-height: 100%;
}