html {
    height: 100%;
}

p {
    color:black;
}

h1 {
    text-align: center;
    margin-top: 2%;
}

body {
    background-color: rgb(99, 199, 141);
    background-image: url(bg.png);
    background-size: 100%;
    height: 100%;
}

.ad {
    background-color:rgb(255, 255, 255);
    min-height: 100%;
    margin-bottom: 100%;
}

.ad p{
    font-size: large;
    position: relative;
    left:50%;
    top:50%;
}

.height {
    min-height: 100%;
}

.recipe-block {
    background-color: gray;
    border-radius: 25px;
    margin-bottom: 1%;
}

.recipe-block p{
    padding: 2%;
}

.recipe-block b{
    padding: 2%;
}

.recipe-block a{
    padding: 2%;
}

img {
    max-width: 100%;
    max-height: 100%;
}