<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <title>Home</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#" style="padding-left: 10px;"> <b> Kitchen Assistant Prototype </b> </a>
    </nav>

    <div class="container-fluid">
      <p></p>
      <div class="row">
        <div class="col"> 
          <br>
        </div>
        <div class="col-9 .texture">
          <p>This is a prototype service for our business case assignment in the 1ZEUB0 Introduction to Tech Entrepreneurship course. The proposed purpose of the website is to help find recipes when one is unsure of what to cook, based on the ingredients available. At the end, there will be a survey.</p>
          <form action="#" method="post">
            <h3>Select your ingredients:</h3>
            <input type="checkbox" id="1" name="ingredient" value="1">
            <label for="1"> Chicken </label>
            <input type="checkbox" id="2" name="ingredient" value="2">
            <label for="2"> Egg </label> <br>
            <input type="checkbox" id="3" name="ingredient" value="3">
            <label for="3"> Salmon </label>
            <input type="checkbox" id="4" name="ingredient" value="4">
            <label for="4"> Carrots </label> <br>
            <h3>Select an occasion, if any</h3>
            <input type="checkbox" id="1" name="occasion" value="1">
            <label for="1"> Christmas </label>
            <input type="checkbox" id="2" name="occasion" value="2">
            <label for="2"> Thanksgiving </label> <br>
            <h3>Select any dietary restrictions/allergens</h3>
            <input type="checkbox" id="1" name="diet" value="1">
            <label for="1"> No Milk </label>
            <input type="checkbox" id="2" name="diet" value="2">
            <label for="2"> No Peanuts </label> 
            
            <div class="slidecontainer">
              <label for="Cost"> Cost </label> <input type="range" min="1" max="100" value="50" class="slider" id="Cost"> 
              <label for="Time"> Time </label> <input type="range" min="1" max="100" value="50" class="slider" id="Time">
              <label for="Difficulty"> Difficulty </label> <input type="range" min="1" max="100" value="50" class="slider" id="Difficulty">
            </div>
            <input type="submit" value="Find Recipes">
          </form>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="col">
          <br>
        </div>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
      var slider = document.getElementById("myRange");
      var output = document.getElementById("demo");
      output.innerHTML = slider.value; // Display the default slider value

      // Update the current slider value (each time you drag the slider handle)
      slider.oninput = function() {
        output.innerHTML = this.value;
      }
    </script>

  </body>
</html>